

.header1 {
    background-color:bisque;
    color:rgb(28, 31, 26);
    text-align: center;
    font-size: 65px;
    width:350px;
    margin: auto;
}

.bigger{
    font-size: 33px;
    font-weight: bold;
    margin: auto;
    padding-top:10px;
    text-align: center;
}

a {
    color:brown;
    font-family:'Lucida Console', Papyrus, monospace;
    font-weight: bold;
}

.list-color{

    width:150px;
    text-align: center;
    margin:auto;
}

h2 {
    font-size: 35px;
    margin:auto;
    background-color: bisque;
    width: 250px;
    text-align:center;
    padding:20px;
   
}

*{
    box-sizing:border-box;
    /* outline: 2px solid red; */
}

img{
    display: block;
    margin: auto;
    padding: 15px;
}

ul{margin-top: 10px}
